body {
    height: 100%;
    overflow: hidden;
}

#z-wrap {
    height: 100%;
}


/*内容*/

.z-content {
    height: 85%;
    overflow: auto;
    margin: 0;
}

.z-tit {
    color: #fff;
    width: 85%;
    height: 1.7rem;
    font-size: .36rem;
    text-align: center;
    line-height: 1.7rem;
    margin: auto;
    border-bottom: 1px dashed #fff;
}

.z-list {
    color: #fff;
    text-align: center;
    width: 100%;
    height: 4rem;
    font-size: .28rem;
    padding-top: .5rem;
}

.z-touxiang {
    width: 2.06rem;
    height: 2.06rem;
    border-radius: 50%;
    border: 4px solid #726e68;
    margin: 0 auto;
    overflow: hidden;
}

.z-touxiang img {
    width: 100%;
    height: 100%;
}

.z-name {
    line-height: .6rem;
    margin: 0 auto;
}

.z-number {
    width: 75%;
    line-height: .6rem;
    border-top: 1px dashed #fff;
    margin: 0 auto;
}

.z-number .fa {
    margin-right: .1rem;
    color: #fff;
}


/*弹窗*/

.z-tc {
    width: 90%;
    height: auto;
    background: rgba(0, 0, 0, .8);
    padding: .8rem .65rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -45%;
    margin-top: -50%;
    display: none;
}

.z-close {
    width: .31rem;
    height: .31rem;
    position: absolute;
    top: .26rem;
    right: .26rem;
}

.z-close img {
    width: 100%;
    height: 100%;
}

.z-images {
    width: 5.6rem;
    height: 3.68rem;
    border: 2px solid #656463;
    border-radius: .1rem;
}

.z-images img {
    width: 100%;
    height: 100%;
}

.z-tc p {
    color: #fff;
    font-size: .24rem;
    line-height: .4rem;
}

.z-tc .zTC-tit {
    font-size: .28rem;
    line-height: .8rem;
}
